body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 51, 51);
    background-color: rgb(234, 234, 234);
    margin: 0;
}

a {
    color: rgb(38, 144, 212);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.bg-image {
    background-image: url("../img/pattern.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.bg-shadow {
    background-color: rgba(0, 0, 0, .5);
}

.btn {
    padding: 5px;
    border-radius: 5px;
    width: 130px;
    height: 45px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(0, 0, 0, .8);
    transition: .6s all;
}

.aic {
    align-items: center;
}

.sciss {
    background-color: #cccccc;
    height: 30px;
    width: 30px;
    margin-right: 16px;
    border-radius: 100%;
    position: relative;
}

.position {
    position: relative;
    left: 7px;
    top: 6px;
}

.r1 {
    margin-top: 32px;
    box-shadow: 0 0 10px 1px black;
    border-radius: 10px;
    padding: 15px;
}

.r2 {
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow: 0 0 10px 1px black;
    border-radius: 10px;
    box-shadow: inset;
    padding: 15px;
}

.r3 {
    margin-top: 32px;
    box-shadow: 0 0 10px 1px black;
    border-radius: 10px;
    padding: 15px;
}

.r4 {
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow: 0 0 10px 1px black;
    border-radius: 10px;
    box-shadow: inset;
    padding: 15px;
}

.r5 {
    margin-top: 32px;
    box-shadow: 0 0 10px 1px black;
    border-radius: 10px;
    padding: 15px;
}

.r6 {
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow: 0 0 10px 1px black;
    border-radius: 10px;
    box-shadow: inset;
    padding: 15px;
}

.inter {
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.playfair {
    font-family: Playfair Display, Helvetica, sans-serif;
}